@model List<Appointment_WEB.Models.AppointmentModel>

<style>
    table,tr,td,th{
        border: dotted;
        border-color: red;
        padding: 1em;
    }
</style>

<div class="table-container">
    <table class="appointments-table">
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            @for (var hour = 8; hour <= 20; hour++)
            {
                <tr>
                    <th>@hour:00 AM</th>
                    @for (var day = 0; day <= 6; day++)
                    {

                        <th></th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Check dummy data -->

@foreach(var app in Model)
{
    <p>@app.title</p>
    <p>@app.description</p>
    <p>@app.day</p>
    <p>@app.startTime</p>
    <p>@app.endTime</p>
}
